.App {
  text-align: center;
}

.pokemon-list {
}

.pokemons-card {
  margin: 20px;
  padding: 20px;
  border: solid 2px black;
  border-radius: 5px;
  list-style: none;
  width: 100px;
}

.pokemons-type{
  padding: 0;
}

.pokemon-type {
  list-style: none;
}